<div class="col-xs-12">
  <div class="table-responsive">
    <h1 style="color: #666">Artists</h1>

    <table class="table table-hover">
      <tr class="small">
        <th>Picture</th>
        <th>Name</th>
        <th>Bio</th>
        <th>Actions</th>
      </tr>

      <% @artists.each do |artist| %>

      <tr>
        <td class="col-md-2"><%= image_tag(artist.image_url, class: 'img-thumbnail img-responsive')  %></td>
        <td><%= artist.name %></td>
        <td><%= artist.description %></td>
        <td>
          <%= link_to 'View', artist_path(artist), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Edit', edit_artist_path(artist), class: 'btn btn-primary btn-xs' %>
          <%= link_to 'Delete', artist_path(artist), method: :delete, data: {confirm: "Delete this artist?"}, class: 'btn btn-warning btn-xs' %>
        </td>
      </tr>

      <% end %>

    </table>
  </div>

  <div class="well">
    <%= link_to "New Artist", new_artist_path, class: 'btn btn-default btn-lg' %>
  </div>
</div>
