<div class="panel">
  <div class="panel-body media">
    <div class="media-left media-top col-xs-2">
      <%= image_tag(@artist.image_url, class: 'media-object img-responsive') %>
    </div>
    <div class="media-body">
      <h2 class="media-heading">
        <%= @artist.name %>
      </h2>
      <p>
        <%= @artist.description %>
        <%= link_to 'Reviews', artist_review_path(@artist, @artist), class: 'btn btn-default btn-xs' %>
      </p>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <tr class="small">
        <th>Song</th>
        <th>Year</th>
        <th>Length</th>
        <th>Genre</th>
        <th>Actions</th>
      </tr>

      <% @artist.songs.each do |song| %>
        <tr>
          <td><%= song.name %></td>
          <td><%= song.year %></td>
          <td><%= song.length %></td>
          <td><%= song.genre %></td>
          <td>
            <%= link_to 'Reviews', artist_song_path(@artist, song), class: 'btn btn-default btn-xs' %>
            <%= link_to 'Edit', edit_artist_song_path(@artist, song), class: 'btn btn-default btn-xs' %>
            <%= link_to 'Delete', [song.artist,song], method: :delete, data: { confirm: 'Delete song?' }, class: 'btn btn-default btn-xs' %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="panel-footer">
    <%= link_to 'Back', artists_path, class: 'btn btn-default' %>
    <%= link_to 'Add Song', new_artist_song_path(@artist), class: 'btn btn-default' %>
    <%= link_to 'Add Review', new_artist_review_path(@artist), class: 'btn btn-default' %>
    <%= link_to 'Edit', edit_artist_path(@artist), class: 'btn btn-primary' %>
    <%= link_to 'Delete', artist_path(@artist), method: :delete, data: {confirm: "Delete this artist?"}, class: 'btn btn-warning' %>
  </div>

  <h2>Reviews</h2>
  <div class="table-responsive">
    <table class="table table-hover">
      <tr class="small">
        <th>Rating</th>
        <th>Review</th>
        <th>Reviewer</th>
      </tr>

      <% @artist.reviews.each do |review| %>
        <tr>
          <td><%= review.reviewer %></td>
          <td><%= review.rating %></td>
          <td><%= review.review %></td>
        </tr>
      <% end %>

    </table>
  </div>
</div>
